<h1>Aircrafts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
  </tr>

  <% @aircrafts.each do |aircraft| %>
      <tr>
        <td><%= aircraft.name %></td>
        <td><%= aircraft.color %></td>
        <td><%= link_to 'Show', aircraft_path(aircraft) %></td>
        <td><%= link_to 'Edit', edit_aircraft_path(aircraft) %></td>
        <td><%= link_to 'Destroy', aircraft_path(aircraft), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>